@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

body{
    background: #FFF;
    box-sizing: border-box;
    scrolld
}

img {
    max-width: 100%;
    display: block;
}



.header {
    margin-top: 40px;
    margin-bottom: 84px;
    display: flex;
    justify-content: space-between;
   
}


.top__content__info__h1{
    margin-bottom: 17px;

}

.top__content__info__text {
    margin-bottom: 37px;
}



footer {
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
    margin-bottom: 96px;
}

.top__content__info_button {
    margin-bottom: 162px;
    width: 302px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;

}

.start__button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20)
    text-align: center;
}